.previewer-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.previewer-loading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.previewer-iframe {
  width: 100%;
  height: calc(100vh - 70px);
  border: none;
  background: white;
}