.splash-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(270deg, #0f0c29, #302b63, #24243e);
  background-size: 600% 600%;

  animation: gradientMove 8s ease infinite;
  font-family: "Poppins", sans-serif;
}

@keyframes gradientMove {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}


@keyframes zoomIn {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.loader {
  margin-top: 40px;
  display: flex;
  gap: 8px;
}

.loader span {
  width: 12px;
  height: 12px;
  background: #00ffc8;
  border-radius: 50%;
  animation: bounce 1.2s infinite;
}

.loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}